*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 83, 133);
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 100vh;
    justify-content: center;
    text-align: center;
   padding: 100px; 
}

.topo {
    width: 20rem;
    height: 6rem;
    background-color: chartreuse;
}

.menu {
    width: 20rem;
    height: 1rem;
    background-color: rgb(4, 161, 88);
}

.conteudo {
    width: 20rem;
    height: 10rem;
    background-color: gray;
}

.rodape{
    width: 20rem;
    height: 1rem;
    background-color: coral;
    }